<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Eat the Burgers!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body>
		{{{ body }}}
	</body>
</html>